body {
    font-family: Arial;
    background: #f4f6f8;
}

.container {
    width: 70%;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

input {
    width: 80%;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background: #007BFF;
    color: white;
}
